@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto text-center"><h1  style="width:100%;">Login</h1></div>
                </div>
                <div class="row">
                    <div class="col-6 text-sm-end">Username:</div>
                    <div class="col-6"><input type="text" id="txt-username" name="" required="true"/></div>
                </div>
                <div class="row">
                    <div class="col-6 text-sm-end">Password:</div>
                    <div class="col-6"><input type="text" id="txt-pass" name="" required="true"/></div>
                </div>
                <div class="row">
                    <div class="col-12"><div id="div-error-msg"><span id="error-msg"></span></div></div>
                </div>
                <div class="row">
                    <div class="col-12 mx-auto text-center">
                        <input type="button" value="Login" onclick="Login()" class="btn btn-primary" />
                        <button id="btn-create-account" type="button" class="btn btn-primary" data-id='@Url.Action("CreateAccount", "Login")' data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script>


         $("#btn-create-account")
                .click(function()
                    {
                    var lurl = String($(this).data('id'));
                    $(".modal-body").load(lurl);

                    }
                );
    function Login(){
        // Get the values from the input fields
        // Assuming you have jQuery included in your project
        var username = $("#txt-username").val();
        var pass = $("#txt-pass").val();
        var formData = new FormData();
        formData.append('username',username);
        formData.append('password',pass);

        $.ajax({
               url: '@Url.Action("Login", "Login")', // Your C# endpoint URL
               type: 'POST',
               data: formData,
               contentType: false, // Important: Don't set content type
               processData: false, // Important: Don't process data
               success: function(response) {
                  console.log(response);
                   if (response.Authorized==true)
                   {

                       window.location.replace('@Url.Action("ConversationList", "Conversation")');
                   }
                   else
                   {
                        $("#error-msg").text(response.Message)  ;
                   }

               },
               error: function(xhr, status, error) {
                   $('#status').html('<span class="text-danger">Error uploading file: ' + error + '</span>');
               }
           });
       }
</script>