@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table>
    <tr>
        <td colspan="2">
            Login
        </td>
    </tr>
    <tr>
        <td>
            Username:
        </td>
        <td>
            <input type="text" id="txt-username" name="" required="true"/>
        </td>
    </tr>
    <tr>
        <td>
            Password:
        </td>
        <td>
            <input type="text" id="txt-pass" name="" required="true"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="div-error-msg"><span id="error-msg"></span></div>

        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" value="Login or create" onclick="Login()" class="btn btn-primary" />
            <button id="btn-create-account" type="button" class="btn btn-primary" data-id='@Url.Action("CreateAccount", "Login")' data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create New Account</button>
        </td>
    </tr>
</table>
<script>

    
         $("#btn-create-account")
                .click(function()
                    {
                    var lurl = String($(this).data('id'));
                    $(".modal-body").load(lurl);

                    }
                );
    function Login(){
        // Get the values from the input fields
        // Assuming you have jQuery included in your project
        var username = $("#txt-username").val();
        var pass = $("#txt-pass").val();
        var formData = new FormData();
        formData.append('username',username);
        formData.append('password',pass);

        $.ajax({
               url: '@Url.Action("Login", "Login")', // Your C# endpoint URL
               type: 'POST',
               data: formData,
               contentType: false, // Important: Don't set content type
               processData: false, // Important: Don't process data
               success: function(response) {
                  console.log(response);
                   if (response.Authorized==true)
                   {

                       window.location.replace('@Url.Action("ConversationList", "Conversation")');
                   }
                   else
                   {
                        $("#error-msg").text(response.Message)  ;
                   }

               },
               error: function(xhr, status, error) {
                   $('#status').html('<span class="text-danger">Error uploading file: ' + error + '</span>');
               }
           });
       }
</script>