@model AICore.Controllers.ViewModels.ConversationVm
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .accordion-button{
                background-color: aqua !important;
        color: #343a40;
        border: 1px solid #ced4da;
    }
</style>
<div class="text-center">
    <div class="container">
        <div>
            ConversationId: <span id="ConversationId">@Model.Id</span>
        </div>
    </div>
    <div class="container">
        <h1 class="display-4">Welcome to the AI Prompt Generator</h1>
        <p class="lead">This tool helps you create effective prompts for AI models.</p>
        <p>Enter your prompt below and click "Generate" to see the result.</p>

    </div>
    <div id="txt-output">
        @{
            if (Model.ConversationText != null)
            {
                WriteLiteral(Model.ConversationText);
            }
        }

    </div>
    <div>
        <textarea id="txt-prompt" rows="2" style="width:100%"></textarea>
    </div>


</div>
*
<div id="ImageToTextUpload">
    <span>Attach a file!</span>
    <input type="file" id="fileInput" value="Choose Image File"accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff,.ico,.svg,.pdf"/>
    <button id="uploadButton" onclick="uploadFile()">Ask</button>
    <div id="status"></div>

</div>

<script>

        function uploadFile(){
            var conversationId = $("#ConversationId").html();
            //alert(conversationId);
            var formData = new FormData();
            var prompt = document.getElementById("txt-prompt").value;
            var file = $('#fileInput')[0].files[0]; // Get the selected file
            formData.append('uploadedFile', file); // 'uploadedFile' is the key for the server-side
            formData.append('txtpromptimgtotext',prompt);
            formData.append('conversationId',conversationId);

            

            $.ajax({
                url: '@Url.Action("ImageToText", "Prompt")', // Your C# endpoint URL
                type: 'POST',
                data: formData,
                contentType: false, // Important: Don't set content type
                processData: false, // Important: Don't process data
                success: function(response) {
                    $('#status').html('<span class="text-success">File uploaded successfully! </span>');
                    $('#fileInput').val(''); // Clear the file input
                    console.log(response);
                    $('#txt-output').empty().append(response);
                },
                error: function(xhr, status, error) {
                    $('#status').html('<span class="text-danger">Error uploading file: ' + error + '</span>');
                }
            });
        }
         


        function decodeHtmlEntities(encodedString) {
      var textArea = document.createElement('textarea');
      textArea.innerHTML = encodedString;
      return textArea.value;
    }
</script>